{% extends "base.html" %}
{% block title %}Add Workout{% endblock %}
{% block addExercise_active %}active{% endblock %}
{% block content %}

        <div class="small-middle-container text-white">
            <h2>Add workout</h2>
            <!-- Form for submitting a new workout -->
            <form action="{{ url_for('submit_Workout') }}" method="POST" id="exerciseForm">
                {{ form.csrf_token }}
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    {{ form.name(class="form-control", placeholder="Enter name for workout") }}
                </div>
                <!-- Container for dynamic exercise fields -->
                <div id="exerciseFields">
                    {% for exercise in form.exercises %}
                        <div class="mb-3">
                            <label for="exercise{{ loop.index }}" class="form-label">Exercise {{ loop.index }}</label>
                            {{ exercise.exercise_name(class="form-control", placeholder="Enter an exercise") }}
                        </div>
                    {% endfor %}
                </div>
                <!-- Buttons to add another exercise or submit the workout -->
                <div class="d-flex justify-content-between">
                    <button type="button" class="btn btn-danger" id="addExerciseBtn">
                    Add another exercise
                    </button>
                    <button type="submit" class="btn btn-danger">Submit</button>
                </div>
            </form>
        </div>

        <div class="small-middle-container pt-5">
            <div class="container mt-4 text-white">
            <h2>Current workouts</h2>
            </div>
            <!-- Loop through existing workouts and display them in a card format -->
            {% for workout in workouts %}
                <div class="card bg-light text-dark text-center mt-4" >
                    <div class="card-header">
                        <h5>{{ workout.workout_name }}</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for exercise in workout.exercises %}
                            <li class="list-group-item">{{ exercise.exercise_name }} </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
        
        <!-- JavaScript to dynamically add new exercise fields to the form -->
        <script>
            let exerciseCount = {{ form.exercises|length }};
            document.getElementById('addExerciseBtn').addEventListener('click', function () {
                exerciseCount++;
                const newExerciseField = document.createElement('div');
                newExerciseField.classList.add('mb-3');
                newExerciseField.innerHTML = `
                    <label for="exercise${exerciseCount}" class="form-label">Exercise ${exerciseCount}</label>
                    <input class="form-control" id="exercises-${exerciseCount - 1}-exercise_name" name="exercises-${exerciseCount - 1}-exercise_name" placeholder="Enter an exercise">
                `;
                document.getElementById('exerciseFields').appendChild(newExerciseField);
            });
        </script>
{% endblock %}