{% extends "base.html" %}
{% block title %}Entries{% endblock %}
{% block entries_active %}active{% endblock %}
{% block content %}

        <!-- Section for adding a new workout entry -->
        <div class="small-middle-container text-white pt-5">
            <h2> Add Entry </h2> 
            <!-- Form for selecting a workout from existing workouts -->
              <form method = "POST" action="{{ url_for('entries') }}">
                <div class="form-floating">
                    <select class="form-select form-select-lg" id="workout" name="workoutSelect">
                    <!-- Loop through available workouts and create options -->
                      {% for workout in workouts %}
                        <option value={{ workout.workout_id }}>{{ workout.workout_name }}</option>
                      {% endfor %}
                    </select>
                    <label for="workout" class="form-label">Select workout:</label>
                </div>
                <!-- Submit button to select the workout -->
                <button type="submit" class="btn btn-danger btn-lg mt-3 mb-3">Select</button>
              </form>  
        </div>

        <!-- Section for displaying logs of previous workout entries -->
        <div class="small-middle-container pt-4 pb-4">
          {% for log in card_log %}
            <div class="card bg-light text-dark text-center mt-5">
                <div class="card-header">
                     <h5>{{ log.workout.workout_name }}</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <!-- Table to show exercise details within the workout log -->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Exercise</th>
                                    <th scope="col">Sets</th>
                                    <th scope="col">Weight (lbs.)</th>
                                    <th scope="col">Reps</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Loop through details of each exercise in the log -->
                                {% for detail in log.log_details %}
                                <tr>
                                    <th scope="row">{{ detail.exercise.exercise_name }}</th>
                                    <td>{{ detail.sets }}</td>
                                    <td>{{ detail.weight }}</td>
                                    <td>{{ detail.repetitions }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                 <!-- Footer showing the date of the workout log -->
                <div class="card-footer text-muted">{{ log.log_date.strftime("%m/%d/%Y") }}</div>
            </div>
          {% endfor %}
        </div>

        {% if selected_workout %}
        <!-- Modal for adding details to the selected workout -->
        <div class="modal show" id="Select" style="display: block;" aria-modal="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">{{ selected_workout.workout_name }}</h4>
                        <a href="{{ url_for('entries') }}" class="btn-close"></a>
                    </div>
                    <!-- Modal body containing a form to log details for each exercise in the workout -->
                    <form method="POST" action="{{ url_for('log_Workout') }}">
                      {{ form.csrf_token }}
                      <div class="modal-body">
                            <!-- Loop through each exercise in the selected workout to log details -->
                              {% for exercise, exercise_detail in zip(selected_workout.exercises, form.exercises) %}
                              <div class="row pt-2">
                                  <div class="col-3 pt-2">
                                      <p>{{ exercise.exercise_name }}:</p>
                                      <input type="hidden" name="workoutSelect" value="{{ selected_workout.workout_id }}">
                                      {{ exercise_detail.exercise_id(class="form-control", type="hidden", value=exercise.exercise_id) }}
                                  </div>
                                  <label for="sets{{ loop.index }}" class="col-1 col-form-label m-0">Sets</label>
                                  <div class="col-1 p-0">
                                      {{ exercise_detail.sets(id="sets" ~ loop.index, class="form-control") }}
                                  </div>
                                  <label for="weight{{ loop.index }}" class="col-1 col-form-label ms-5 me-1 m-0">Weight</label>
                                  <div class="col-1 p-0">
                                      {{ exercise_detail.weight(id="weight" ~ loop.index, class="form-control") }}
                                  </div>
                                  <label for="weight{{ loop.index }}" class="col-1 col-form-label me-1">Lbs.</label>
                                  <label for="reps{{ loop.index }}" class="col-1 col-form-label m-0">Reps</label>
                                  <div class="col-1 p-0">
                                      {{ exercise_detail.reps(id="reps" ~ loop.index, class="form-control") }}
                                  </div>
                              </div>
                              {% endfor %}
                      </div>
                      <!-- Modal footer with a button to submit the workout details -->
                      <div class="modal-footer">
                          <button type="submit" class="btn btn-danger">Add</button>
                      </div>
                  </form>
                </div>
            </div>
        </div>
        {% endif %}
{% endblock %}