{% extends "alt_base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <!-- Buttons -->
    <div class="container mt-3 text-center">
      <button
        type="button"
        class="btn btn-primary btn-lg"
        data-bs-toggle="modal"
        data-bs-target="#Login"
      >
        Log In
      </button>
    </div>
    <div class="container mt-3 text-center">
      <button type="button" class="btn btn-primary btn-lg custom-button">
        <a href="{{ url_for('register')}}"> Sign Up </a>
      </button>
    </div>

    <!-- Login Modal -->
    <div
      class="modal fade"
      id="Login"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="Login">Log in</h5>

            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <!-- Modal body containing the login form -->
          <div class="modal-body">
            <form method="POST" action="{{ url_for('login') }}">
              {% if message %}
                <span style="color:red;">{{ message }}</span>
              {% endif %}
              {{ form.csrf_token }}
              <div class="form-group mt-3">
                {{ form.username(class='form-control', placeholder='Username') }}
                {% for error in form.username.errors %}
                  <li style="color:red;">{{ error }}</li>
                {% endfor %}
              </div>
              <div class="form-group mt-3">
                {{ form.password(class='form-control', placeholder='Password') }}
                {% for error in form.password.errors %}
                  <li style="color:red;">{{ error }}</li>
                {% endfor %}
              </div>
              <div class="form-group mt-3">
                <div class="checkbox-inline">
                  <label>
                    {{ form.remember }}
                    Remember Me
                  </label>
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">
                  Login
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}